@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }

/* Reusable styles */
.style{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;                   
}
body{
    background-color: black;
}
.display-flex{
    display: flex;
}
.para{
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.5);
}
.btn-primary{
    font-size: 1.125rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    line-height: 22px;
    background-color: rgb(230, 83, 60);
    border-radius: 42px;
    border: none;
    padding: 16px 40px;
}
.wide{
    padding: 16px 80px;
}
.btn-secondary{
    font-size: 1.125rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    line-height: 22px;
    background-color: black;
    border-radius: 42px;
    border: 1.5px rgb(255, 255, 255) solid;
    padding: 16px 40px;
}
/* Header */
header{
    margin-top: 50px;
    /* background-color: linear-gradient(180deg, rgb(17, 17, 17) 0%),
    rgba(119, 119, 119, 0) 100%; */
    /* background: linear-gradient(180deg, rgb(17, 17, 17), #333333); */
    background: linear-gradient(180deg, rgb(17, 17, 17) 0%, rgba(119, 119, 119, 0) 100%);
}
nav{
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    margin: auto;
}
header h1{
    font-size: 2.25rem;
    font-weight: 800;
    line-height: 120%;
    color: rgb(230, 83, 60);
}
header ul{
    list-style: none;
    display: flex;
    gap: 50px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 39px;
    padding: 12px 30px 12px 5px;
}
header li{
    color: rgb(255, 255, 255);
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 120%;
}
header .img-container{
    position: relative;

}
nav span{
    background-color:  rgb(230, 83, 60);
    padding: 8px 20px;
    border-radius: 39px;
}


/* banner */
.banner{
    justify-content: space-evenly;
    max-width: 1300px;
    margin: auto;
    margin-bottom: 100px;
}
.text h1{
    font-weight: 900;
    font-size: 5rem;
    color: white;
    margin: 10px 0 20px 0;
    padding: 0;
}
.text p{
    margin: 50px 0;
}
.img-container button{
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    border: 1px rgba(48, 48, 48, 0.54) solid;
    position: absolute;
}
.badge{
    height: 100px;
    width: 200px;
}
.banner .text{
    max-width: 520px;
}
.badge h2{
    color: white;
}
.badge h2{
    font-weight: 900;
    font-size: 2.5rem;
    margin: 0;
}
.badge p{
    margin: 0;
}
.top{
    top: 150px;
    left: 230px;
}
.bottom{
    top: 430px;
    left: -80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.red-circle{
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: rgb(230, 83, 60);
    margin-right: 10px;
    border: none;
}
/* habits section css*/
.habits{
    max-width: 1300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    margin-bottom: 100px;
}
.habits h2{
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: 3rem;
    text-align: center;
    margin: 20px;
}
.habits h3{
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: 1.25rem;
    text-align: center;
    margin-top: 10px;
}
.habits p{
    text-align: center;
    max-width: 600px;
    margin: 10px 0px;
}
.habits .card-container{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    gap: 20px
}
.habits .card{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-width: 230px;
}
.habits .card .img-container{
    width: 180px;
    height: 180px;
}
.habits .card .img-container img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px white solid;
}
/* Extra miles section */
.extra-mile{
    max-width: 1300px;
    margin: auto;
    background-color: rgb(34, 34, 34);
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px 30px;
    margin-bottom: 100px;
}
.extra-mile h2{
    font-size: 3rem;
    font-weight: 900;
    line-height: 120%;
    color: white;
}
.extra-mile p{
    margin-bottom: 30px;
}
.extra-mile .text-container{
    max-width: 550px;
    margin: 0;
}
.extra-mile .img-container{
    width: 430px;
    height: 402px;
}
.extra-mile img{
    width: 100%;
    height: 100%;
    border-radius: 19px;
}
/* Training and exercises section */
.trainings{
    font-size: 3rem;
    font-weight: 900;
    line-height: 120%;
    color: rgb(255, 255, 255);
    max-width: 1350px;
    margin: auto;
    margin-bottom: 100px;
}
.trainings h1{
    padding: 50px 0 30px 0;
}
.trainings p{
    padding: 20px 0 30px 0;
}
.trainings .img-container{
    max-width: 1350px;
    margin: auto;
    position: relative;
}
.trainings .img-container .row-1{
    display: grid;
    grid-template-columns: 0.7fr 1.6fr 0.7fr;
}
.trainings .img-container .row-1 p{
    position: absolute;
    color: white;
}
.img-1-p{
    left: 2%;
    top: 42%;
}
.img-2-p{
    left: 30%;
    top: 12%;
}
.img-3-p{
    left: 78%;
    top: 39%;
}
.img-4-p{
    left: 32%;
    top: 52%;
}
.img-5-p{
    left: 57%;
    top: 82%;
}
.img-6-p{
    left: 82%;
    top: 82%;
}
.img-3{
    filter: brightness(0.5)
}
.img-4{
    filter: brightness(0.45)
}
.trainings .img-container .row-1 img{
    width: 100%;
    height: 100%;
}
.trainings .img-container .row-2{
    display: grid;
    grid-template-columns: 1.6fr 0.7fr 0.7fr;
}
.trainings .img-container .row-2 p{
    position: absolute;
    color: white;
}
.trainings .img-container .row-2 img{
    width: 100%;
    height: 100%;
}
/* BMI calculator */
.bmi-calculator{
    background-color: rgb(34, 34, 34);
    display: flex;
    justify-content: space-around;
    padding: 50px 150px;
    margin-bottom: 100px;
}
.bmi-calculator h1{
    font-weight: 900;
    font-size: 1.75rem;
    color: rgb(255, 255, 255);
    margin: 0 0 50px 0;
}

.bmi-calculator .text{
    margin: 0;
    padding: 0;
}
table{
    width: 330px;
    height: 220px;
    text-align: left;
    border: 1px rgba(255, 255, 255, 0.1) solid;
    border-collapse: collapse;  
    color: rgb(255, 255, 255);
    
}
td,th{
    border: 1px rgba(255, 255, 255, 0.1) solid;
    padding: 20px;
}
td{
    color: rgba(255, 255, 255, 0.5);
}
.bmi-calculator .input-container{
    display: flex;
    flex-direction: column;
}
form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}
input, select{
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.1);
    height: 48px;
    border-radius: 8px;
    border: none;
    display: block;
    font-weight: 400;
    font-size: 1rem;
    padding-left: 10px;
}
.odd-one{
    margin: 15px 0px;
    width: 100%;
}
option {
    color: black;
    background-color: rgba(255, 255, 255, 0.1);
}
/* Team section css */
.team{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.team h1{
    font-size: 3rem;
    font-weight: 800;
    color: white;
    text-align: center;
}
.team p{
    text-align: center;
    max-width: 700px;
}
.team h2{
    font-size: 1.25rem;
    font-weight: 800;
    color: white;
    text-align: center;
}
.team .card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 19px;
}
.team .card{
    width: 350px;
    height: 280px;
    position: relative;
}
.team .card img{
    width: 100%;
    height: 100%; 
    border-radius: 19px;
    filter: brightness(0.6);
}
.team .card p{
    position: absolute;
    top: 80%;
    left: 10%;
}
.team .card h2{
    position: absolute;
    top: 70%;
    left: 10%;
} 

/* review section css */
.review{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    margin-top: 100px;
    max-width: 1300px;
}
.review h1{
    font-size: 3rem;
    font-weight: 800;
    color: white;
}
.review .right-container{
    position: relative;
    padding: 30px 0;
    max-width:  800px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
}
.review .people-img{
    filter: grayscale(1);
    width: 50%;
}
.review .star-container{
    width: 150px;
    height: 150px;
    position: absolute;
    right: 0%;
    top: 0%
}
.review .star{
    width: 100%;
    height: 100%;
}
.review .next-btn{
    border-radius: 50%;
    border: none;
    width: 50px;
    height: 50px;
    position: absolute;
    right: -5%;
    top: 50%;
}
.review .next-btn img{
    width: 100%;
    height: 100%;
}
.review .customer-desc{
    display: flex;
    align-items: center;
    margin-top: 50px;
}
.review .customer-name{
    font-size: 2rem;
    font-weight: 800;
    color: white;
}
.review .customer-title{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
}
.review .customer-img-container{
    width: 60px;
    height: 60px;
    margin: 10px 20px 0px 0px;
}
.review .customer-img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px rgba(255, 255, 255, 0.5) solid;
}
.review .dot-container{
    margin: 0;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    position: absolute;
    top: 75%;
    right: 45%;
}
.review .dot-img{
    width: 100%;
    height: 100%;
}

/* Footer section */
footer{
    margin-top: 100px;
    background-color: rgba(255, 255, 255, 0.1);
}
footer .text h1{
    color: #E6533C;
    font-size: 4.5rem;
    font-weight: 800;
}
footer .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 250px;
    border-bottom: 2px rgba(255, 255, 255, 0.1) solid;
    padding: 30px 0px;
}
footer .text {
    max-width: 400px;
}
footer .container h2{
    color: white;
    font-size: 2rem;
    font-weight: 700;
    
}
footer .container p{
    margin: 0;
}
footer .container li{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.75rem;
    font-weight: 400;
    margin: 30px;
}
.footer-p{
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.3;
    padding: 20px;
}
